@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@mixin defaultFont(){
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/*
 Backend
*/

#login-form{
  margin-top: 100px;
}

/*
  Main site
*/

body{
  color: white;
  background-color: white;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

#wrapper{
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.contentImg{
  width: 100%;
}

#left{
  width: 50%;
  position: absolute;
  left: 0;
  color: #202020;
}

#right{
  width: 480px;
  position: fixed;
  margin-left: 480px;
  color: #202020;
  bottom: 0;
}

.pic{
  img{
    width: 100%;
  }
}

section{
  .content{
    padding: 20px;
    @include defaultFont;
    font-weight: lighter;

    h2{
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 42px;
      font-weight: normal;
    }
  }

  &.news{

    h3{
      font-weight: normal;
      margin-bottom: 0px;
    }

    small{
      color: #B0B0B0;
    }

    p{
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }

  &.music{

  }

  &.gigs{

  }

  &.info{

  }

  &.welcome{
    padding: 20px 10px 0;
    margin-bottom: 20px;
    overflow: hidden;
  }

}

/*
 * Navigation
 */

nav{
  position: fixed;
  right: -120px;
  top: calc(50% - 25px);
  z-index: 2;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  height: 50px;
  width: 360px;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 24px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);

  ul{
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-transform: uppercase;

    li{
      display: inline-block;
      padding: 0 20px;
      transition: .4s all ease;
      opacity: 0;
      transform: translateY(-50px);
      cursor: pointer;

      &.visible{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/*
 * Loading
 */

#loading{
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
}