@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/*
 Backend
*/

#login-form{
  margin-top: 100px;
}

/*
  Main site
*/

body{
  color: white;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

#left{
  width: 50%;
  position: absolute;
  left: 0;
  background-color: #202020;
  color: white;
}

#right{
  width: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #202020;
  color: white;
}

.pic{
  img{
    width: 100%;
  }
}

section{
  .content{
    margin: 20px;
  }
}

.welcome{
  background-color: #f0f0f0;
  background-image: url('piano.jpg');
  background-repeat: no-repeat;

  h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 42px;
    text-shadow: 0 0 10px #808080;
  }

  &.left{
    background-size: 200%;
    background-position-y: 50%;
  }

  &.right{
    background-size: 200%;
    background-position-y: 50%;
    background-position-x: 100%;
  }
}

.pic1{
  background-color: blue;
}

.pic2{
  background-color: green;
}


/*
 * Navigation
 */

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  background-color: rgba(0,0,0,.8);
  height: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;

  ul{
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-transform: uppercase;

    li{
      display: inline-block;
      padding: 0 20px;
      transition: .4s all ease;
      opacity: 0;
      transform: translateY(-50px);

      &.visible{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

/*
 * Loading
 */

#loading{
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
}